@model IEnumerable<ResourcePlanner.Models.BusinessUnit>

@{
    ViewBag.Title = "Index";
}

<h2>Business Unit</h2>

<p>
    @Html.ActionLink("Create New Business Unit", "Create")
</p>
<table class="table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessUnitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessUnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessUnitId })
        </td>
    </tr>
}

</table>
